<div class="center jumbotron">
	<h1>Welcome to Recipe Manager</h1>

	<h2>This is the home page for the Recipe Manager</h2>

	<%= link_to "Sight up now!", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
	<div class="col-lg-4">
		<h3 class="midrow">
			View Recipes as Guest User
		</h3>
		<h2 class="left">
			Browser and view recipes as a guest and sign up later
		</h2>
		<p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
	</div>
	<div class="col-lg-4">
		<h3 class="midrow">
			View Recipes as Guest User
		</h3>
		<h2 class="left">
			Browser and view recipes as a guest and sign up later
		</h2>
		<p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
	</div>
	<div class="col-lg-4">
		<h3 class="midrow">
			View Recipes as Guest User
		</h3>
		<h2 class="left">
			Browser and view recipes as a guest and sign up later
		</h2>
		<p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
	</div>
</div>